.main{
    padding: 20px;
    h1{
        font-size: 2.5rem;
        margin-bottom: 12px;
    }

    form{
        input,textarea{
            display: block;
            margin-top:4px;
            margin-bottom: 12px;
        }
    }
}