$li-titles-borders : #000000;
$bg-header-boxs:#8ECAE6;
$input-header:#7B7979;
$white:#FFFFFF;
$inputs-alt-titles:#494949;
$borders:#3E7994;
$texts:#626161;

@font-face {
    font-family: 'Roboto-R';
    src: url('../../public/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-B';
    src: url('../../public/Roboto-Bold.ttf');
}


@font-face {
    font-family: 'Raleway-M';
    src: url('../../public/Raleway-Medium.ttf');
}

@font-face {
    font-family: 'OpenSans-R';
    src: url('../../public/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans-M';
    src: url('../../public/OpenSans-Medium.ttf');
}

.header{
    width: 100%;
    background-color: $bg-header-boxs;
    border-bottom: 2px solid $borders;
    position: relative;
    height: 150px;
    display: flex;
    align-items: center;

    h1{
        font-size: 3.5rem;
        margin-left: 20px;
    }
    nav{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        ul{
            display: flex;
            list-style: none;
            gap: 12px;

            li{
            font-family: 'OpenSans-R';
            &:hover{
                text-decoration: underline;
                cursor: pointer;
                font-family: 'OpenSans-M';
            }
            }
        }
    }

    .others{
        display: flex;
        align-items: center;
        gap: 20px;

        .search{
            input[type='text']{
                position: absolute;
                top: 70%;
                left: 45%;
                padding: 4px;
                width: 300px;
                background-color: $input-header;
                border: 2px solid $inputs-alt-titles;
                color: $white;
                border-radius: 4px;
                transition: .4s;
                outline: transparent;

                &:focus{
                    border-color: white;
                }
            }
        }

       .cart{
        position: relative;
        
        a{
            color: $white;
        
            span{
                position: absolute;
                top: -8px;
                right: -5px;
                background-color: $li-titles-borders;
                padding: 1px;
                width: 16px;
                text-align: center;
                border-radius: 50%;
            }
        }
       }

       .avatar{
        height: 136px;
    display: flex;
    place-items: center;
    margin-right: -20px;
    margin-top: -10px;
    width: 130px;
    padding: 12px;
        }

       .hide{
            display: none;
            ul{
                position: absolute;
                display: flex;
                flex-direction: column;
                right: 0;
                top: 100%;
                background-color: $borders;
                text-align: center;
                padding: 12px 0px;
                width: 154px;
                li{
                cursor: pointer;
                width: 154px;
                &:hover{
                    text-decoration: none;
                background-color: $bg-header-boxs;
                
                }
                }
            }
       }
    }
}