.main{
    padding: 20px;

    .cards{
        display: flex;
        gap: 20px;


        div{
            h1{
                margin-bottom: 8px;
            }
            display: flex;
            flex-direction: column;
            gap: 8px;

            h3{
                color: yellow;
            }
            p{
                width: 350px;
                line-height: 1.5;
            }
        }
    }
}