.title{
    padding: 20px;
    text-align: center;
}

.main{
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

    form{

        img{
            margin-bottom: 12px;
        }
        .headerTable{
            display: flex;
            gap: 12px;
            span{
                background-color: black;
                color: white;
                cursor: pointer;
                padding: 4px 12px;
                border-radius: 8px;
                margin-bottom: 8px;
            }
        }
        background-color: white;
        padding: 20px;
        color: black;
        h2{
        font-size: 2rem;
        margin-bottom: 16px;
        }
        input,label{
            display: block;
        }

        input{
            width: 300px;
            margin-top: 4px;
            margin-bottom: 16px;
            padding: 4px 8px;
        }

        button{
            padding: 12px 32px;
            cursor: pointer;
            transition: .4s;
        }
    }
}