$li-titles-borders : #000000;
$bg-header-boxs:#8ECAE6;
$input-header:#7B7979;
$white:#FFFFFF;
$inputs-alt-titles:#494949;
$borders:#3E7994;
$texts:#626161;

@font-face {
    font-family: 'Roboto-R';
    src: url('../../public/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-B';
    src: url('../../public/Roboto-Bold.ttf');
}


@font-face {
    font-family: 'Raleway-M';
    src: url('../../public/Raleway-Medium.ttf');
}

@font-face {
    font-family: 'OpenSans-R';
    src: url('../../public/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans-M';
    src: url('../../public/OpenSans-Medium.ttf');
}



.title{
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Roboto-B';
}

.main{
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

    form{
        img{
            margin-bottom: 12px;
        }

        .pix{
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                font-family: 'Raleway-M';
                color: hsl(0, 0, 30%);
            }
            p:nth-child(1){
                margin: 12px 0px;
                text-align: center;
            }

            img{
                margin-bottom: 12px;
            }

            p:nth-child(4){
                margin-bottom: 12px;
                text-align: center;
            }
        }
        .headerTable{
            display: flex;
           
            span{
                background-color: $borders;
                color: white;
                cursor: pointer;
                padding: 4px 12px;
                margin-bottom: 8px;
                border: 1px solid $li-titles-borders;
                transition: .4s;
                &:hover{
                background-color: #023047;
                }
            }
        }
        background-color: $bg-header-boxs;
        padding: 20px;
        color: $li-titles-borders;
        border: 2px solid $li-titles-borders;
        border-radius: 12px;
        
        h2{
        font-size: 1.7rem;
        margin-bottom: 16px;
        font-family: 'Roboto-B';
        }

        input,label{
            display: block;
        }

        label{
            font-size: 1.2rem;
            font-family: 'OpenSans-M';
        }

        input{
            width: 300px;
            margin-top: 4px;
            margin-bottom: 16px;
            padding: 4px 8px;
            background-color: $input-header;
            transition: .4s;
            border: 2px solid $li-titles-borders;
            border-radius: 4px;
            &:focus{
                outline: none;
                background-color: $inputs-alt-titles;
            }
        }

        button{
            padding: 12px 32px;
            cursor: pointer;
            transition: .4s;
            background-color: $inputs-alt-titles;
            border: 2px solid $li-titles-borders;
            transition: .4s;
            border-radius: 8px;
            color: $white;
            font-family: 'OpenSans-R';
            &:hover{
                cursor: pointer;
                background-color: $input-header;
                font-family: 'OpenSans-M';
            }
        }
    }
}